.CodeMirror {
font-family: monospace;
font-size: 16px;
text-align: left;
margin: 10px;
max-height: : 100px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.run {
  background-color: #555;
  color: white;
  border: 2px solid #555;
}

.run:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}

body {
  background-color: #115268;
  height: 100vh;
  overflow: hidden;
  min-height: 100%;
}

#stage {
    height: 76vh;
    justify-content: center;
    position: relative;
    border: 0px solid transparent;
    display: flex;
  }
canvas {
    position: absolute;
    text-align: center;
}
#board {
  z-index: 2;
}
#background { z-index: 1;
  border-radius: 8px;
  background-color: #ffffff;
  border: 2px solid #AAAAAA;

}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: column wrap;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
  background-image: linear-gradient(#021F4B, #115268);
	grid-template-rows: auto auto;
  border-radius: 0px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
  grid-row: 1;
  grid-column: 2;
}
.board {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
.script {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
}
.head {
  grid-column: 1;
	grid-row: 1;

}

.zoom_out {
  position: absolute;
  transform: translate(70px, -40px);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
}

.zoom {
  position: absolute;
  transform: translate(30px, -40px);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
}
.zoom:hover {
  background-color: black;
}
.zoom_out:hover {
  background-color: black;
}
textarea {
  resize: none;
  width: 99%;
}
.navbar {
  overflow: hidden;
  background-color: transparent;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: transparent;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
